[package]
name = "wordle"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
itertools = "0.10"
clap = { version = "3", features = ["derive"]}
thirtyfour = { version = "0.31"}
tokio = {version = "1"}